
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #a9ccff;
background-image: linear-gradient(180deg, #a9ccff 26%, #FFBBEC 100%);
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background-color: green;
}

.mobile-container {
    /* height: 90vh; */
    width: 400px;
    background-color: white;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
    
img {
    max-width: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
header input {
    background-color: hsla(216, 3%, 63%, 0.226);
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}
header input:focus {
    outline: none;
}
header button {
    background-color: transparent;
    color: #aaa;
    font-size: 2rem;
    border: none;
    padding-left: 1rem;
}
.fav-container {
    padding: 1rem;
    text-align: center;
    background-color: rgba(197, 58, 197, 0.257);
}
.fav-meals {
    display: flex;
    list-style-type: none;
    padding: 0;

}
.fav-meals li img {
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 2px solid #ffffff9b;
}
.fav-meals li span {
    font-size: 0.9rem;
}
.meals {
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.5);
    margin: 1.5rem;
    border-radius: 5px;
    position: relative;

}
.meal-header  img{
      object-fit: cover;
      height: 240px;
      width: 100%;
}
 .random {
    position: absolute;
    top: 1.5rem;
    padding: 0.25rem 0.5rem;
    z-index: 2;
    background-color: white;
}
.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.meal-body h4 {
    margin: 0;
}
.meal-body button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: rgba(91, 87, 87, 0.915);
}
.fav-btn.active {
    color: rgba(53, 174, 32, 0.897);

}