
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: hsla(177, 78%, 91%, 0.478);
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    min-height: 100vh;
}
.quiz-container {
    width: 500px;
    max-width: 100%;
    border-radius: 10px;
    background-color: hsla(180, 100%, 50%, 0.235);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.quiz-header {
    padding: 2rem;
}
ul {
    list-style: none;
    margin: 0;
}
ul li {
    margin: 1rem 0;
    cursor: pointer;
}
ul li label {
    cursor: pointer;
}

button {
    width: 100%;
    background-color: hsla(240, 72%, 46%, 0.63);
    height: 2rem;
    border: none;
    display: block;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
button:hover {
    background-color: hsla(240, 78%, 16%, 0.63);

}

.theEnd {
    font-size: 3rem;
    color: green;
    text-align: center;
    padding: 20px;
    background-color: hsla(180, 100%, 50%, 0.331);
    border-radius: 15px;
    box-shadow: "4px 4px 14px rgba(0, 0, 0, 0.5)";
}